################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/ElectoralApp/v16/.suo
/ElectoralApp/ElectoralApp/obj
/ElectoralApp/ElectoralApp/Properties/PublishProfiles
/ElectoralApp/ElectoralApp.DAL/obj/Debug
