
@{
    ViewBag.Title = "SignIn";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin</title>
    <!-- vendor css -->
    <link href="~/Scripts/lib/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/Scripts/lib/Ionicons/css/ionicons.css" rel="stylesheet">
    <link href="~/Scripts/lib/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet">
    <link href="~/Scripts/lib/jquery-switchbutton/jquery.switchButton.css" rel="stylesheet">
    <link href="~/Scripts/lib/rickshaw/rickshaw.min.css" rel="stylesheet">
    <link href="~/Scripts/lib/chartist/chartist.css" rel="stylesheet">

    <!-- Bracket CSS -->
    <link rel="stylesheet" href="~/Scripts/css/bracket1.css">
</head>
<body>
    <div class="d-flex align-items-center justify-content-center bg-br-primary ht-100v">

        <div class="login-wrapper wd-300 wd-xs-350 pd-25 pd-xs-40 bg-white rounded shadow-base">
            <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">LOGO</span></div><br>


            <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter your username">
            </div><!-- form-group -->
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Enter your password">
                <a href="#" class="tx-info tx-12 d-block mg-t-10">Forgot password?</a>
            </div><!-- form-group -->
            <button type="submit" class="btn btn-info btn-block">Sign In</button>

            <div class="mg-t-60 tx-center">Not yet a member? <a href="@Url.Action("Signup", "Login")">Sign Up</a></div>
        </div><!-- login-wrapper -->
    </div><!-- d-flex -->

    <script src="~/Scripts/lib/jquery/jquery.js"></script>
    <script src="~/Scripts/lib/popper.js/popper.js"></script>
    <script src="~/Scripts/lib/bootstrap/bootstrap.js"></script>
    <script src="~/Scripts/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js"></script>
    <script src="~/Scripts/lib/moment/moment.js"></script>
    <script src="~/Scripts/lib/jquery-ui/jquery-ui.js"></script>
    <script src="~/Scripts/lib/jquery-switchbutton/jquery.switchButton.js"></script>
    <script src="~/Scripts/lib/peity/jquery.peity.js"></script>
    <script src="~/Scripts/lib/chartist/chartist.js"></script>
    <script src="~/Scripts/lib/jquery.sparkline.bower/jquery.sparkline.min.js"></script>
    <script src="~/Scripts/lib/d3/d3.js"></script>
    <script src="~/Scripts/lib/rickshaw/rickshaw.min.js"></script>
    <script src="~/Scripts/js/bracket.js"></script>
    <script src="~/Scripts/js/ResizeSensor.js"></script>
    <script src="~/Scripts/js/dashboard.js"></script>

    <script>
        $(function () {
            'use strict'

            // FOR DEMO ONLY
            // menu collapsed by default during first page load or refresh with screen
            // having a size between 992px and 1299px. This is intended on this page only
            // for better viewing of widgets demo.
            $(window).resize(function () {
                minimizeMenu();
            });

            minimizeMenu();

            function minimizeMenu() {
                if (window.matchMedia('(min-width: 992px)').matches && window.matchMedia('(max-width: 1299px)').matches) {
                    // show only the icons and hide left menu label by default
                    $('.menu-item-label,.menu-item-arrow').addClass('op-lg-0-force d-lg-none');
                    $('body').addClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideUp();
                } else if (window.matchMedia('(min-width: 1300px)').matches && !$('body').hasClass('collapsed-menu')) {
                    $('.menu-item-label,.menu-item-arrow').removeClass('op-lg-0-force d-lg-none');
                    $('body').removeClass('collapsed-menu');
                    $('.show-sub + .br-menu-sub').slideDown();
                }
            }
        });
    </script>
</body>
</html>